* {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-color: #eaf3f3;
  height: 100vh;
}

@media (max-width: 480px) {
  .app {
    font-size: 0.8rem;
  }
}